
div{
    margin-top: 6mm;
    margin-bottom: 6mm;
    border: 5pt dotted burlywood;
}

p{
    text-align: justify;
    background-color: cornsilk;
    margin: 3mm;
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: 6mm;
    margin-right: 6mm;
    text-indent: 1.5cm;
}

#bal{
    width: 70%;
}

#jobb{
    width: 80%;
    margin: auto;
}

.piros{
    border-right: 3mm darkred double ;
}

.kék{
    padding-bottom: 1cm;
    border-left: 1mm dashed blueviolet;
    border-bottom: 2mm dashed blue;
}

#redpsan{
    color: crimson;
    font-variant: small-caps;

}

#bluespan{
   font-family: 'Cambria';
    font-weight: bolder;
    color: dodgerblue;
}
